@model IEnumerable<Event_Management_System.Models.Entities.Event>

@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">
            Create New
        </a>
    </p>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.EventDate)</th>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th>@Html.DisplayNameFor(model => model.MaxCapacity)</th>
            <th>@Html.DisplayNameFor(model => model.RegistrationDeadline)</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.EventDate</td>
                <td>@item.Location</td>
                <td>@item.MaxCapacity</td>
                <td>@item.RegistrationDeadline</td>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@item.EventId">
                        Details
                    </a>

                    @if (User.IsInRole("Admin"))
                    {
                        <text>| </text>
                        <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a>
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
